body{
   font-family: "Tangerine", cursive;
  background-color:pink;
    color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align:center;
  margin: 0;
  font-size: 35px;
  background-image: url("logo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 4px 4px 3px pink
}


footer{
   font-family: "Sofia", cursive;
  color: pink;
  font-weight: 500;
  font-size: 25px;
}

footer a{
  text-decoration:nome;
  color:white;
}

footer a:hover{
  color:pink(255,192,211)
    text-decorration:underline;
}

button{
   font-family: "Fraunces", serif;
  background-color:pink;
  border:2px solid pink;
  color:white;
  font-size:25px;
  border-radius:200px;
  margin:20px;
  padding:0.5em;
  box-shadow:3px 3px 4px black;
}

button:hover{
  background-color:#FF6096;
    border: 2px solid rgb(255,192,245);
    color:black;
}
main{
  max-width:90%;
  text-align: center;
  padding:20px;
  flex:1;
}

img{
  max-width:90%;
}

.passo{
 display: none;
}

.passo.ativo{
  display:block;
}